doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='description', content='A basic no-frills rhyme search app.')
    meta(name='keywords', content='rhyme, lookup, reference, search, dictionary, finder')
    meta(name='author', content='Jacob Hernandez')
    meta(name='viewport', content='width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86')
    
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-162903575-1')
    script(async='', src='ga.js')
    //- script(src='scripts.js')
    link(rel='apple-touch-icon', href='images/favicon_io/apple-touch-icon.png')
    link(rel='icon', href='images/favicon_io/android-chrome-192x192.png')

    title= title
    link(rel='stylesheet', href='styles/basscss.min.css')
    link(rel='stylesheet', href='styles/style.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins|Open+Sans:wght@300&display=swap', rel='stylesheet')
  body
    #wrapper
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-P74VWZH', height='0', width='0', style='display:none;visibility:hidden')
      header.vw.center
        block header
      span.spacer(aria-hidden='true') &nbsp;
      block main
      span.spacer(aria-hidden='true') &nbsp;
      span.spacer(aria-hidden='true') &nbsp;
      footer.center.gray
        block footer
          p.smaller
            | Rhyme results are provided by 
            a(href='https://rhymebrain.com') RhymeBrain.com
          small &copy; 2020 Jacob Hernandez
