body {
  background-color:#111;
  color: #ffffff;

  padding: 50px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p, label {
  margin: 0;
  line-height: 2.25em;
  font-size: 1em;
}

form input, form select {
  line-height: 2.5em;
  border: solid 1px #000000;
  padding: 0.2em 0.8em;
  box-sizing: border-box;
  font-size:1.15em;
}

.smaller {
  font-size: 0.85em;
}
.larger {
  font-size: 1.15em;
}

.header-font {
  font-family: "Poppins", sans-serif;
}

.salmon {
  color: salmon;
}

.block {
  display:block;
}
